{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	{% include "templatesPart/__navbar.html.twig" %}

	<div class="row row-cols-1 row-cols-md-2 g-4">
		{% for recipe in recipes %}
			<div class="col-xl-6">
				<div class="card">
					<img src="{{ asset('/image/upload/b5dba2d4ed8a3820c62d6ed698f191626786acbc78660c3ba9ac6e344687155f.jpg') }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{recipe.name}}</h5>
						<p class="card-text">{{recipe.description}}</p>
					</div>
					<ul class="list-group list-group-flush">
						{% for ingredient in recipe.ingredients %}
							<li class="list-group-item">
								{{ingredient.name}}
								(
								<em>{{ingredient.quantity}}
									{{ingredient.unity}}</em>
								)
							</li>
						{% endfor %}
					</ul>
					<div class="card-body">
						<a href="{{path('app_recipe_show', {'id' : recipe.id})}}" class="card-link">Voir</a>
						<a href="#" class="card-link">Modifier</a>
						<a href="#" class="card-link">Supprimer</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}


{% block modal %}
	{% include "templatesPart/modal/__loginForm.html.twig" %}
{% endblock %}
